.cart__items-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.cart__items {
  flex-grow: 2;
}
.cart__checkout {
  border: 1px solid var(--secondary-hover);
  flex-grow: 1;
  position: sticky;
  top: 7rem;
}

.cart__checkout .input-group {
  margin: 0;
  padding: 0;
}
.cart__checkout .input-group .btn {
  width: 100%;
}
.cart__order-btn .btn {
  padding: var(--scale-md) var(--scale-lg);
}
@media screen and (max-width: 550px) {
  .cart__items-container {
    display: block;
  }
  .cart__order-btn .btn {
    padding: var(--scale-sm) var(--scale-lg);
  }
}
