.strike {
  text-decoration: line-through;
  color: var(--secondary-hover);
  font-size: var(--scale-md);
}
.rating_simple {
  max-width: max-content;
}
.rating {
  align-items: center;
  display: flex;
}
