.filter-heading,
.sort-heading {
  align-items: center;
  display: flex;
}
.filter-heading button,
.sort-heading button {
  margin-left: auto;
}
.spced-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-input{width:100%}